
.item .details i.brand-icon {
  padding:5px;
  margin-right: 12px;
  border-radius: 50%;
}
.item .details span {
  font-size: 1.13rem;
}
.item i {
  font-size: 1.13rem;
}
.item.dragging {
  opacity: 0.6;
}
.item.dragging :where(.details, i) {
  opacity: 0;
}
